body {
    width: 100%;
    height: 100%;
    background-color: #181818;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
}

.logo-image {
    position: absolute;
    top: 22px;
    left: 120px;
}

.main {
    width: 100%;
    height: 440px;
    background-image: url('../../public/images/vedmak-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.description {
    width: 424px;
    height: 320px;
    position: absolute;
    top: 152px;
    left: 120px;


    .desc-title {
        color: #FFFFFF;
        position: relative;
        font-weight: 600px;
        size: 56px;
        line-height: 56px;
        right: 15%;
        
    }

    .desc-info {
        color: #FFFFFF;
        font-weight: 400px;
        size: 16px;
        line-height: 1.5; 
        max-height: 4.5em; 
        overflow: hidden;
    }
}

.section-actors {
    width:  100%;
    height: 1040px;
    background-color: #181818;
}

.progress-bar {
    width: 1200px;
    height: 0;
    position: relative;
    top: 14%;
}


.slider {
    width: 100%;
    height: 504px;
    position: absolute;
    left: 120px;
    margin-top: 70px;
}

.card {
    width: 282px;
    height: 400px;

    flex: 0 0 auto;
}





  .slick-slider {
    position: relative;
    top: 20%;
  }

  .slick-prev::before, .slick-next::before {
    display: none; 
  }
  
 .slick-arrow.slick-prev {
    position: absolute;
    top: 0px;
    left: 1261px;
 
 }

 .slick-arrow.slick-next {
    position: absolute;
    top: 0px;
    right: 200px;
 }

 .photos {
    width: 1200px;
    height: 764px;
    display: flex;
    position: relative;
    top: 63%;
    margin: auto;
    align-items: flex-start;
    background-color: #181818;

    .photos-title {
        width: 301px;
        height: 48px;
        font-size: 600;
        justify-content: flex-start;
        color: #FFFFFF;
    }

    .photos-first {
        width: 588px;
        height: 588px;
        position: absolute;
        top: 100px;
    }

    .block-photos {
        width: 600px;
        height: 600px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr);
        position: absolute;
        top: 100px;
        right: 0px;

        .block-photos-wrap {
            width: 282px;
            height: 282px;
        }
    }
 }

 .maps {
    width: 1201px;
    height: 628px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 67%;
    margin: auto;



    .maps-title {
        justify-content: flex-start;
        color: #FFFFFF;
        width: 508px;
        height: 48px;
    }

    .maps-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
   

    }
 }

 .footer {
    width: 100%;
    height: 128px;
    display: flex;
    position: relative;
    top: 75%;
    background-color: #343338;

    .poloticy {
        display: flex;
        position: relative;
        margin: auto;
        padding: 10px;  
        right: 25%;
        align-items: center;
        color: #FFFFFF;
    }

    .social {
        width: 136px;
        height: 32px;
        display: flex;
        justify-content: space-between;
        position: relative;
        right: 10%;
        margin: auto;
        
    }

    .link-social img {
        transition: transform 0.3s, opacity 0.3s;
      }
      
      .link-social:hover img {
        transform: scale(1.1);
        opacity: 0.8;
      }
 }

 .form-page {
    width: 100%;
    height: 550px;
    background-color: #181818;
 }

 .title-form {
    position: relative;
    top: 6%;
    right: 30%;

    .title-form-wrap {
        position: relative;
        right: 2%;
        color: #FFFFFF;
        font-weight: 600;
        line-height: 56px;
    }
 }

 .input-form {
    width: 486px;
    height: 580px;
    position: relative;
    top: 10%;
    left: 10%;


    .coupl-inputs {
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .wrap-upload {
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        background-color: #FFFFFF1A;
    }

    .wrap-upload-inf {
        position: relative;
        left: 5%;
        color: #FFFFFF;

    }

    .check-box {
        width: 426px;
        height: 32px;
        display: flex;
        margin-top: 30px;
    }

    .check-box-info {
        display: flex;
        padding: 10px;
        margin: auto;
        font-size: smaller;
        color: #FFFFFF;
    }
 }

 .button-submit {
    width: 205px;
    height: 56px;
    position: relative;
    top: 10%;
    left: 10%;
    border: 1px solid red;
 }
  

.some-info {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 55%;
    left: 58%;
    padding: 10px;
    margin: auto;


    .hot-line {
        width: 275px;
        height: 76px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }

    .description-ht {
        color: #FFFFFF;
        position: relative;
        opacity: 60%;
        top: 20%;
    }

    .number-ht {
        color: #FFFFFF;
        position: relative;
        bottom: 10%;
    }

}

.main-office {
    width: 471px;
    height: 68px;


    .description-office {
        color: #FFFFFF;
        position: relative;
        opacity: 60%;
        bottom: 20%;
        right: 38%;
    }

    .number-office {
        position: relative;
        bottom: 35%;
        color: #FFFFFF;
        font-size: 29px;
    }
}

.time-work {
    width: 322px;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


    .description-work {
        position: relative;
        top: 16%;
        opacity: 60%;
        color: #FFFFFF;
    }

    .work-time {
        position: relative;
        bottom: 20%;
        font-size: 28px;
        color: #FFFFFF;
    }
}

